/* @group Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end */

/* @group Global */

body {
  background: #253b45 url(../img/shurfing-bg.jpg) no-repeat center center;
  background-size: cover;
  color: #ddd;
  font: 18px/1.4 "Helvetica Neue", HelveticaNeue, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

html {
  height: 100%;
}

a {
  color: #ddd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: 500;
}

small {
  font-size: 14px;
}

em {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.center {
  /*margin: 0 auto;
  position: relative;
  width: 720px;*/
  max-width: 720px;
}

.vert-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-center {
  display: block;
  margin: 0 auto;
}

.rounded {
  border-radius: 3px;
}

.shadowy {
  box-shadow: 0 1px 1px rgba(0,0,0,.24);
}

.clear {
  clear: both;
}

.small {
  font-size: 11px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* @end */

/* @group Header */


/* @end */

/* @group Content */

img.img-center {
  margin-top: 20px;
}

.salutation {
  line-height: 1;
}

/* @end */

/* @group Footer */

/* @end */

/* @group Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 500;
}

h1 {
  font-family: "PF DinText Pro", "ff-din-web", "Din 1451", Din, "Gill Sans", "Arial Narrow", "Tahoma", sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin: 20px 0 10px;
  text-align: center;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 12px;
}

/* @end */

/* @group Forms */

.btn {
  font-weight: 500;
}

.btn-primary {
  color: #fff;
  background: #4faf43;
}

.btn.btn-lg {
  border-radius: 5px;
  display: block;
  font-size: 22px;
  margin: 30px auto 0;
  padding: 15px;
  text-align: center;
  width: 224px;
}

.btn:hover {
  text-decoration: none;
}

/* @end */

@media only screen and (max-width : 400px) {
  .img-center {
    max-width: 70%;
    height: auto;
  }
 
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

 .vert-center{
    padding: 0 20px;
    position: relative;
    top: inherit;
    left: inherit;
    transform: inherit;
  }

  .btn.btn-lg {
    margin-bottom: 20px;
  }
}